<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tim.androidshowcase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RecyclerViewSharedElementActivity" />
        <activity android:name=".Activities.RecycleViewDetailedActivity" />
        <activity android:name=".Activities.RestClientActivity" />
        <activity android:name=".Activities.FragmentsActivity" />
        <activity android:name=".Activities.ViewModelActivity" />
        <activity android:name=".Activities.SharedPreferenceActivity" />

        <receiver android:name=".Activities.RestClientActivity$MyPokemonReceiver" />

        <activity
            android:name=".Activities.RealmActivity"
            android:label="@string/title_activity_realm"
            android:theme="@style/MaterialTheme"></activity>
    </application>

</manifest>